extend layout

block content
  form.form-inline(method='post', action='/')
    a.btn.btn-default.col-sm-1(href="/allDone" type='button') All Done
    |
    input.col-sm-10(type='text', name='task', placeholder='Write a task')
    |  
    button.btn.btn-primary.col-sm-1(type='submit') Add
  ul.list-group(style="list-style:decimal inside")
    each obj in tasks
      li.list-group-item
        a.btn.btn-default(href=`/done/${tasks.indexOf(obj)}` type='button') Done
        | #{tasks.indexOf(obj) + 1}. #{obj.task}
        span (Created at: #{obj.date.getFullYear()}/#{obj.date.getMonth() + 1}/#{obj.date.getDay()} #{obj.date.getHours()}:#{obj.date.getMinutes()})
        a.btn.btn-default(href=`/delete/${tasks.indexOf(obj)}` type='button') Delete
